<link rel="stylesheet" href="css/aside.css" />
<div class="gap-4 d-flex flex-column">
  <!-- Primeiro Aside -->
  <aside class="aside pb-1 gap-3 d-flex flex-column">
    <div class="d-flex flex-row align-items-center gap-3 mb-1">
      <img src="assets/Clock.svg" alt="Histórico" width="24" />
      <p class="p-0 fw-bold fs-5 lh-1 m-0">Registro de ponto</p>
    </div>
    <button class="btn btn-primary w-100 aside-btn">Entrada</button>

    <!-- Itens do menu lateral  -->
    <div>
      <div class="aside-item d-flex align-items-center justify-content-between">
        <p
          class="fw-normal fs-6 lh-1 m-0"
          style="font-family: Arial, sans-serif; letter-spacing: 0%"
        >
          Outras opções de registro
        </p>
        <img
          src="assets/ArrowDown.svg"
          alt="Seta para baixo"
          width="16"
          height="16"
        />
      </div>
      <div class="aside-item d-flex align-items-center justify-content-between">
        <p
          class="fw-normal fs-6 lh-1 m-0"
          style="font-family: Arial, sans-serif; letter-spacing: 0%"
        >
          Últimos registros
        </p>
        <img
          src="assets/ArrowDown.svg"
          alt="Seta para baixo"
          width="16"
          height="16"
        />
      </div>
      <div class="aside-item d-flex align-items-center justify-content-between">
        <p
          class="fw-normal fs-6 lh-1 m-0"
          style="font-family: Arial, sans-serif; letter-spacing: 0%"
        >
          Controle de ponto
        </p>
        <img
          src="assets/ArrowRight.svg"
          alt="Seta para a direita"
          width="16"
          height="16"
        />
      </div>
      <div
        class="aside-item no-border d-flex align-items-center justify-content-between"
      >
        <p
          class="fw-normal fs-6 lh-1 m-0"
          style="font-family: Arial, sans-serif; letter-spacing: 0%"
        >
          Pendências no seu ponto
        </p>
        <img
          src="assets/ArrowRight.svg"
          alt="Seta para a direita"
          width="16"
          height="16"
        />
      </div>
    </div>
  </aside>

  <!-- Segundo Aside -->
  <aside
    class="aside gap-3 d-flex flex-row justify-content-between align-items-center"
  >
    <div class="d-flex flex-row align-items-center gap-3">
      <img src="assets/FullClock.svg" alt="Relógio" width="24" />
      <p class="p-0 fw-bold fs-5 lh-1 m-0">Controle de ponto</p>
    </div>
    <img
      src="assets/ArrowRight.svg"
      alt="Seta para a direita"
      width="16"
      height="16"
    />
  </aside>

  <!-- Terceiro Aside -->
  <aside
    class="aside third-aside d-flex flex-column"
    style="border-bottom: 1px solid #ededed"
  >
    <div class="grey-border d-flex flex-row align-items-center pb-3 gap-3">
      <img src="assets/ArrowBox.svg" alt="Caixa com seta" width="24" />
      <p class="p-0 fw-bold fs-5 lh-1 m-0">Vagas para recrutamento interno</p>
    </div>
    <!-- Itens do menu lateral  -->
    <div>
      <div
        class="aside-item-jobs gap-4 d-flex align-items-center justify-content-between"
      >
        <div>
          <p
            class="aside-items-jobs-title fw-normal fs-6 lh-3 m-0"
            style="font-family: Arial, sans-serif; letter-spacing: 0%"
          >
            Holding comercial e marketing
          </p>
          <p
            class="fw-normal fs-6 lh-1 m-0"
            style="font-family: Arial, sans-serif; letter-spacing: 0%"
          >
            Assistente administrativo | Pessoas com deficiência
          </p>
        </div>
        <img
          src="assets/ArrowRight.svg"
          alt="Seta para baixo"
          width="16"
          height="16"
        />
      </div>
      <div
        class="aside-item-jobs gap-4 d-flex align-items-center justify-content-between"
      >
        <div>
          <p
            class="aside-items-jobs-title fw-normal fs-6 lh-3 m-0"
            style="font-family: Arial, sans-serif; letter-spacing: 0%"
          >
            Seguros
          </p>
          <p
            class="fw-normal fs-6 lh-1 m-0"
            style="font-family: Arial, sans-serif; letter-spacing: 0%"
          >
            Analista Engenharia de Software | SRE
          </p>
        </div>
        <img
          src="assets/ArrowRight.svg"
          alt="Seta para baixo"
          width="16"
          height="16"
        />
      </div>
      <div
        class="aside-item-jobs gap-4 d-flex align-items-center justify-content-between"
      >
        <div>
          <p
            class="aside-items-jobs-title fw-normal fs-6 lh-3 m-0"
            style="font-family: Arial, sans-serif; letter-spacing: 0%"
          >
            Serviços
          </p>
          <p
            class="fw-normal fs-6 lh-1 m-0"
            style="font-family: Arial, sans-serif; letter-spacing: 0%"
          >
            Analista de Implantação SR.
          </p>
        </div>
        <img
          src="assets/ArrowRight.svg"
          alt="Seta para a direita"
          width="16"
          height="16"
        />
      </div>
      <div class="d-flex align-items-center justify-content-center p-2">
        <a href="#" class="fs-7 fw-bold text-primary text-decoration-none"
          >Ver todas as vagas</a
        >
      </div>
    </div>
  </aside>

  <!-- Quarto Aside - Eventos -->
  <aside class="aside third-aside d-flex flex-column">
    <div class="grey-border d-flex flex-row align-items-center pb-3 gap-3">
      <img src="assets/Calender.svg" alt="Calendário" width="24" />
      <p class="p-0 fw-bold fs-5 lh-1 m-0">Eventos</p>
    </div>
    <!-- Itens do menu lateral  -->
    <div>
      <div
        class="aside-item-jobs gap-4 d-flex align-items-center justify-content-between"
      >
        <div
          class="d-flex flex-column align-items-center justify-content-center"
        >
          <p
            class="fs-20 aside-date fw-bold fs-6 lh-3 m-0"
            style="font-family: Arial, sans-serif; letter-spacing: 0%"
          >
            28
          </p>
          <p
            class="aside-items-jobs-title fw-normal fs-6 lh-3 m-0"
            style="font-family: Arial, sans-serif; letter-spacing: 0%"
          >
            nov
          </p>
        </div>
        <div>
          <p
            class="aside-items-jobs-title fw-normal fs-6 lh-3 m-0"
            style="font-family: Arial, sans-serif; letter-spacing: 0%"
          >
            sex, 16:00
          </p>
          <p
            class="fw-bold fs-6 lh-1 m-0"
            style="font-family: Arial, sans-serif; letter-spacing: 0%"
          >
            Café da manhã com líderes
          </p>
        </div>
        <img
          src="assets/ArrowRight.svg"
          alt="Seta para baixo"
          width="16"
          height="16"
        />
      </div>
      <div
        class="aside-item-jobs gap-4 d-flex align-items-center justify-content-between"
      >
        <div
          class="d-flex flex-row align-items-center justify-content-between gap-4"
        >
          <div
            class="d-flex flex-column align-items-center justify-content-center"
          >
            <p
              class="fs-20 aside-date fw-bold fs-6 lh-3 m-0"
              style="font-family: Arial, sans-serif; letter-spacing: 0%"
            >
              19
            </p>
            <p
              class="aside-items-jobs-title fw-normal fs-6 lh-3 m-0"
              style="font-family: Arial, sans-serif; letter-spacing: 0%"
            >
              nov
            </p>
          </div>
          <div>
            <p
              class="aside-items-jobs-title fw-normal fs-6 lh-3 m-0"
              style="font-family: Arial, sans-serif; letter-spacing: 0%"
            >
              sex, 19:00
            </p>
            <p
              class="fw-bold fs-6 lh-1 m-0"
              style="font-family: Arial, sans-serif; letter-spacing: 0%"
            >
              Festa de fim de ano
            </p>
          </div>
        </div>
        <img
          src="assets/ArrowRight.svg"
          alt="Seta para baixo"
          width="16"
          height="16"
        />
      </div>
    </div>
  </aside>
</div>
