<link rel="stylesheet" href="css/carousel.css" />
<div class="d-flex align-items-center gap-3">
  <img
    src="assets/ArrowLeft.svg"
    class="img-fluid"
    alt="Histórico"
    width="26"
  />
  <img
    src="assets/Picture1.svg"
    class="flex-grow-1 img-fluid rounded"
    alt="Histórico"
  />
  <img src="assets/ArrowRight.svg" alt="Histórico" width="24" />
</div>
<div class="d-flex flex-column align-items-start gap-3 carousel-wrapper">
  <img
    src="assets/ServicesTag.svg"
    class="img-fluid"
    alt="Serviços"
    width="75"
  />
  <h1
    style="
      font-family: Arial, sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 0;
      margin-bottom: 0;
    "
  >
    Nullam quis semper leo
  </h1>
  <p class="carousel-text">
    Nullam quis semper leo, in dignissim magna. Nunc at nulla blandit, porta
    massa vitae, viverra augue. Praesent vulputate cursus velit. Donec nibh
    odio, volutpat et posuere at, pellentesque viverra lorem. Vestibulum
    lobortis vulputate dolor eget cursus. Nulla sagittis enim a rutrum accumsan.
    Vestibulum in mattis dolor.
  </p>
  <div class="d-flex w-100 justify-content-center align-items-center">
    <img src="assets/Elipse.svg" class="img-fluid" alt="Elipse" width="54" />
  </div>
</div>
