<link rel="stylesheet" href="css/footer.css" />
<footer
  class="footer d-flex flex-column align-items-center justify-content-between"
>
  <div>
    <div class="row strong-border footer-row justify-content-between">
      <!-- Bloco "Pra você" -->
      <div class="col-12 col-md-4">
        <h6 class="fw-bold mb-3">Pra você</h6>
        <div class="row">
          <div class="col-6">
            <ul class="footer-list list-unstyled">
              <div class="mb-3">
                <ul id="selection-footer" class="footer-list list-unstyled">
                  <li>
                    <p class="fw-bold fs-7 text-primary mb-2">
                      Atração e seleção
                    </p>
                  </li>
                </ul>
              </div>
              <div class="mb-3">
                <ul id="career-footer" class="footer-list list-unstyled">
                  <li>
                    <p class="fw-bold fs-7 text-primary mb-2">
                      Carreira e desenvolvimento
                    </p>
                  </li>
                </ul>
              </div>
              <div class="mb-3">
                <ul id="performance-footer" class="footer-list list-unstyled">
                  <li>
                    <p class="fw-bold fs-7 text-primary mb-2">Performance</p>
                  </li>
                </ul>
              </div>
              <div class="mb-3">
                <ul id="remuneration-footer" class="footer-list list-unstyled">
                  <li>
                    <p class="fw-bold fs-7 text-primary mb-2">Remuneração</p>
                  </li>
                </ul>
              </div>
            </ul>
          </div>
          <div class="col-6">
            <ul id="benefits-footer" class="footer-list list-unstyled">
              <li>
                <p class="fw-bold fs-7 text-primary mb-2">Benefícios</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Bloco "Institucional" -->
      <div class="col-12 col-md-6">
        <h6 class="fw-bold mb-3">Institucional</h6>
        <div class="row">
          <div class="col-4">
            <ul id="culture-footer" class="footer-list list-unstyled">
              <li>
                <p class="fw-bold fs-7 text-primary mb-2">
                  Cultura, estratégia e comunicação
                </p>
              </li>
            </ul>
            <ul id="programs-footer" class="footer-list list-unstyled">
              <li>
                <p class="fw-bold fs-7 text-primary mb-2">
                  Programas Institucionais
                </p>
              </li>
            </ul>
          </div>
          <div class="col-4">
            <ul id="technologies-footer" class="footer-list list-unstyled">
              <li>
                <p class="fw-bold fs-7 text-primary mb-2">
                  Tecnologia e Inovação
                </p>
              </li>
            </ul>
            <ul id="directives-footer" class="footer-list list-unstyled mt-3">
              <li>
                <p class="fw-bold fs-7 text-primary mb-2">
                  Diretrizes Institucionais
                </p>
              </li>
            </ul>
            <ul class="footer-list list-unstyled mt-3">
              <li>
                <p class="fw-bold fs-7 text-primary mb-2">Sustentabilidade</p>
              </li>
              <li class="fs-8 text-muted small">Sustentabilidade</li>
            </ul>
          </div>
          <div class="col-4">
            <ul id="services-footer" class="footer-list list-unstyled">
              <li>
                <p class="fw-bold fs-7 text-primary mb-2">
                  Serviços corporativos
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Bloco "Contatos" -->
      <div class="col-12 col-md-2">
        <h6 class="fw-bold mb-3">Contatos</h6>
        <div class="row">
          <div class="col-12">
            <ul id="contacts-footer" class="footer-list list-unstyled">
              <li>
                <p class="fw-bold fs-7 text-primary mb-2">Lista de contatos</p>
              </li>
            </ul>
            <ul class="list-unstyled mt-3">
              <li>
                <p class="fw-bold fs-7 text-primary mb-2">Fale com</p>
              </li>
              <li class="fs-8 text-muted small">Fale com</li>
            </ul>
            <ul id="systems-footer" class="list-unstyled mt-3">
              <li>
                <h6 class="fw-bold mb-3">Sistema</h6>
              </li>
              <li>
                <p class="fw-bold fs-7 text-primary mb-2">Todos os sistemas</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--- Links externos -->
    <div class="d-flex flex-row pt-5 pb-5" style="gap: 32px">
      <div class="d-flex align-items-center justify-content-center gap-2">
        <img src="assets/Link.svg" alt="Link" width="32" />
        <a href="#" class="text-black fw-bold text-decoration-none"
          >Links externos</a
        >
      </div>
      <div class="d-flex align-items-center justify-content-center gap-2">
        <img src="assets/Folder.svg" alt="Pasta" width="32" />
        <a href="#" class="text-black fw-bold text-decoration-none"
          >Meus documentos</a
        >
      </div>
      <div class="d-flex align-items-center justify-content-center gap-2">
        <img
          src="assets/ExclamationCircle.svg"
          alt="Círculo com exclamação"
          width="32"
        />
        <a href="#" class="text-black fw-bold text-decoration-none"
          >Canais de denúncia</a
        >
      </div>
    </div>
  </div>
</footer>
