<link rel="stylesheet" href="css/main-news.css" />
<div
  class="d-flex flex-column justify-content-between align-items-center"
  style="padding: 32px 40px 0 40px"
>
  <!-- Header -->
  <div class="d-flex justify-content-between align-items-center w-100">
    <h3 class="quick-access-title fs-24 fw-bold">Últimas notícias</h3>
    <button
      class="btn btn-outline-primary aside-btn d-flex align-items-center justify-content-center gap-2 mb-3"
      style="width: 172px; height: 42px"
    >
      <img src="assets/SaveLabelFilled.svg" alt="Ícone de bookmark" />
      <p class="fw-bold m-0">Notícias salvas</p>
    </button>
  </div>

  <!-- Main Cards -->
  <div
    class="d-flex flex-column justify-content-between align-items-center gap-5"
  >
    <!-- Card -->
    <div class="card shadow-sm rounded-5 border-0 overflow-hidden">
      <div class="row g-0">
        <!-- Imagem -->
        <div class="col-md-5">
          <img
            src="assets/Rectangle9.svg"
            class="img-fluid h-100 w-100 object-fit-cover"
            alt="Pessoas em uma reunião"
          />
        </div>

        <!-- Conteúdo -->
        <div
          class="col-md-7 d-flex flex-column"
          style="padding: 26px; background-color: #f5f5f5"
        >
          <!-- Tag -->
          <span class="news-badge badge align-self-start mb-3">Radar</span>

          <!-- Título -->
          <h5 class="fw-bold fs-24 mb-3">
            Nullam quis semper leo Nullam quis semper leoNullam quis semper leo
          </h5>

          <!-- Texto -->
          <p
            class="text-muted line-height-small flex-grow-1"
            style="font-size: 16px"
          >
            Nullam quis semper leo, in dignissim magna. Nunc at nulla blandit,
            porta massa vitae, viverra augue. Praesent vulputate cursus velit.
            Donec nibh odio, volutpat et posuere at, pellentesque viverra lorem.
            Vestibulum lobortis vulputate dolor eget cursus.
          </p>

          <!-- Rodapé -->
          <div class="d-flex align-items-center gap-4">
            <span class="text-secondary fs-6">18 Ago 2025</span>
            <div
              class="d-flex align-items-center gap-2 text-primary cursor-pointer"
            >
              <img src="assets/SaveLabel.svg" width="16" alt="Salvar" />
              <span class="small fs-bold">Salvar</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Card -->
    <div class="card shadow-sm rounded-5 border-0 overflow-hidden">
      <div class="row g-0">
        <!-- Imagem -->
        <div class="col-md-5">
          <img
            src="assets/Rectangle8.svg"
            class="img-fluid h-100 w-100 object-fit-cover"
            alt="Pessoas em uma reunião"
          />
        </div>

        <!-- Conteúdo -->
        <div
          class="col-md-7 d-flex flex-column"
          style="padding: 26px; background-color: #f5f5f5"
        >
          <!-- Tag -->
          <span class="news-badge yellow badge align-self-start mb-3"
            >Pessoas</span
          >

          <!-- Título -->
          <h5 class="fw-bold fs-24 mb-3">Nullam quis semper leo Nullam quis</h5>

          <!-- Texto -->
          <p
            class="text-muted line-height-small flex-grow-1"
            style="font-size: 16px"
          >
            Nullam quis semper leo, in dignissim magna. Nunc at nulla blandit,
            porta massa vitae, viverra augue. Praesent vulputate cursus velit.
            Donec nibh odio, volutpat et posuere at, pellentesque viverra lorem.
            Vestibulum lobortis vulputate dolor eget cursus.
          </p>

          <!-- Rodapé -->
          <div class="d-flex align-items-center gap-4">
            <span class="text-secondary fs-6">18 Ago 2025</span>
            <div
              class="d-flex align-items-center gap-2 text-primary cursor-pointer"
            >
              <img src="assets/SaveLabel.svg" width="16" alt="Salvar" />
              <span class="small fs-bold">Salvar</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Smaller Cards -->
  <div class="d-flex flex-row justify-content-center gap-4 mt-5">
    <!-- News Card -->
    <div class="d-flex justify-content-center">
      <div class="card shadow-sm border-0 overflow-hidden small-card">
        <img
          src="assets/News1.svg"
          class="card-img-top object-fit-cover"
          alt="Homem em sala de aula"
          style="min-height: 180px"
        />
        <div
          class="card-body d-flex flex-column"
          style="background-color: #f5f5f5; padding: 20px"
        >
          <span
            class="news-badge badge align-self-start mb-3"
            style="background: #43a1f5"
            >Institucional</span
          >
          <h5 class="small-card-title fw-bold fs-24 mb-3">
            Começamos mais uma etapa dos tre...
          </h5>
          <p
            class="small-card-text text-muted line-height-small flex-grow-1 overflow-hidden"
            style="font-size: 16px"
          >
            Nullam quis semper leo, in dignissim magna. Nunc at nulla blandit,
            porta massa vitae, viverra augue.
          </p>
          <div class="d-flex align-items-center justify-content-between gap-4">
            <span class="text-secondary fs-6">17 Jul 2025</span>
            <div
              class="d-flex align-items-center gap-2 text-primary cursor-pointer"
            >
              <img src="assets/SaveLabel.svg" width="16" alt="Salvar" />
              <span class="small fw-bold">Salvar</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- News Card 2 -->
    <div class="d-flex justify-content-center">
      <div class="card shadow-sm border-0 overflow-hidden small-card">
        <img
          src="assets/News2.svg"
          class="card-img-top object-fit-cover"
          alt="Mulher em sala de aula"
          style="min-height: 180px"
        />
        <div
          class="card-body d-flex flex-column"
          style="background-color: #f5f5f5; padding: 20px"
        >
          <span
            class="news-badge badge align-self-start mb-3"
            style="background: #43a1f5"
            >Verticalizando</span
          >
          <h5 class="small-card-title fw-bold fs-24 mb-3">
            Seu VA e VR são flex!
          </h5>
          <p
            class="small-card-text text-muted line-height-small flex-grow-1 overflow-hidden"
            style="font-size: 16px"
          >
            Nullam quis semper leo, in dignissim magna. Nunc at nulla blandit,
            porta massa vitae, viverra augue.
          </p>
          <div class="d-flex align-items-center justify-content-between gap-4">
            <span class="text-secondary fs-6">15 Jul 2025</span>
            <div
              class="d-flex align-items-center gap-2 text-primary cursor-pointer"
            >
              <img src="assets/SaveLabel.svg" width="16" alt="Salvar" />
              <span class="small fw-bold">Salvar</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- News Card 3 -->
    <div class="d-flex justify-content-center">
      <div class="card shadow-sm border-0 overflow-hidden small-card">
        <img
          src="assets/News3.svg"
          class="card-img-top object-fit-cover"
          alt="Mão com lápis escrevendo em caderno"
          style="min-height: 180px"
        />
        <div
          class="card-body d-flex flex-column"
          style="background-color: #f5f5f5; padding: 20px"
        >
          <span class="news-badge yellow badge align-self-start mb-3"
            >Pessoas</span
          >
          <h5 class="small-card-title fw-bold fs-24 mb-3">
            Como eu era X Como eu estou
          </h5>
          <p
            class="small-card-text text-muted line-height-small flex-grow-1 overflow-hidden"
            style="font-size: 16px"
          >
            Nullam quis semper leo, in dignissim magna. Nunc at nulla blandit,
            porta massa vitae, viverra augue.
          </p>
          <div class="d-flex align-items-center justify-content-between gap-4">
            <span class="text-secondary fs-6">10 Jul 2025</span>
            <div
              class="d-flex align-items-center gap-2 text-primary cursor-pointer"
            >
              <img src="assets/SaveLabel.svg" width="16" alt="Salvar" />
              <span class="small fw-bold">Salvar</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-center gap-2 mt-5">
    <a
      href="#quick-access"
      class="fs-6 fw-bold text-primary text-decoration-none"
      >Ver mais notícias</a
    ><img src="assets/ArrowDown.svg" alt="Seta" />
  </div>
</div>
