<link rel="stylesheet" href="css/navbar.css" />
<nav
  class="navbar navbar-expand nav-border bg-light py-3 d-flex flex-row align-items-center justify-content-between"
>
  <div
    class="navbar-wrapper w-100 d-flex flex-row align-items-center justify-content-between"
  >
    <!-- Links da esquerda -->
    <ul
      class="leftside-icons navbar-nav flex-row align-items-center justify-content-around gap-5"
    >
      <li class="nav-item">
        <a class="text-black nav-link p-0 fw-bold fs-6" href="#">Pra você</a>
      </li>
      <li class="nav-item">
        <a class="text-black nav-link p-0 fw-bold fs-6" href="#"
          >Institucional</a
        >
      </li>
      <li class="nav-item">
        <a class="text-black nav-link p-0 fw-bold fs-6" href="#">Contatos</a>
      </li>
      <li class="nav-item">
        <a class="text-black nav-link p-0 fw-bold fs-6" href="#">Sistemas</a>
      </li>
    </ul>

    <!-- Ícones da direita -->
    <div
      class="rightside-icons d-flex flex-row align-items-center justify-content-between"
    >
      <a href="#">
        <img src="assets/Search.svg" alt="Buscar" width="24" />
      </a>
      <a href="#">
        <img src="assets/Bell.svg" alt="Notificações" width="24" />
      </a>
      <a href="#">
        <img src="assets/Profile.svg" alt="Perfil" width="24" />
      </a>
    </div>
  </div>
</nav>
