<link rel="stylesheet" href="css/quick-access.css" />
<div class="quick-access-wrapper">
  <h3 class="quick-access-title fs-24 fw-bold">Acesso rápido</h3>
  <div class="d-flex flex-column align-items-center justify-content-center">
    <!--- Primeira fileira -->
    <div
      class="w-100 d-flex flex-row justify-content-between flex-row flex-grow-1"
    >
      <div class="quick-acess-selector d-flex flex-column align-items-center">
        <div
          class="quick-access-icon d-flex align-items-center justify-content-center"
        >
          <img
            src="assets/Telephone.svg"
            class="img-fluid"
            alt="Telefone"
            width="32"
          />
        </div>
        <a href="#" class="fw-bold fs-6 text-primary mt-2 text-decoration-none"
          >Atendimento</a
        >
      </div>
      <div class="quick-acess-selector d-flex flex-column align-items-center">
        <div
          class="quick-access-icon d-flex align-items-center justify-content-center"
        >
          <img
            src="assets/Clock.svg"
            class="img-fluid"
            alt="Relógio"
            width="32"
          />
        </div>
        <a href="#" class="fw-bold fs-6 text-primary mt-2 text-decoration-none"
          >Ajustar o ponto</a
        >
      </div>

      <div class="quick-acess-selector d-flex flex-column align-items-center">
        <div
          class="quick-access-icon d-flex flex-column align-items-center justify-content-center"
        >
          <img src="assets/Book.svg" class="img-fluid" alt="Livro" width="32" />
        </div>
        <a href="#" class="fw-bold fs-6 text-primary mt-2 text-decoration-none"
          >Aprendizagem</a
        >
      </div>

      <div class="quick-acess-selector d-flex flex-column align-items-center">
        <div
          class="quick-access-icon d-flex align-items-center justify-content-center"
        >
          <img
            src="assets/Frame.svg"
            class="img-fluid"
            alt="Formulário"
            width="32"
          />
        </div>
        <a href="#" class="fw-bold fs-6 text-primary mt-2 text-decoration-none"
          >Abrir chamado</a
        >
      </div>

      <div class="quick-acess-selector d-flex flex-column align-items-center">
        <div
          class="quick-access-icon d-flex align-items-center justify-content-center"
        >
          <img
            src="assets/Person.svg"
            class="img-fluid"
            alt="Perfil"
            width="32"
          />
        </div>
        <a href="#" class="fw-bold fs-6 text-primary mt-2 text-decoration-none"
          >Meu perfil</a
        >
      </div>

      <div class="quick-acess-selector d-flex flex-column align-items-center">
        <div
          class="quick-access-icon d-flex align-items-center justify-content-center"
        >
          <img
            src="assets/MenuButton.svg"
            class="img-fluid"
            alt="Menu"
            width="32"
          />
        </div>
        <a href="#" class="fw-bold fs-6 text-primary mt-2 text-decoration-none"
          >Modelo de trabalho</a
        >
      </div>
    </div>
  </div>

  <!--- Segunda fileira -->
  <div
    class="w-100 d-flex flex-row justify-content-between flex-row flex-grow-1"
  >
    <div class="quick-acess-selector d-flex flex-column align-items-center">
      <div
        class="quick-access-icon d-flex align-items-center justify-content-center"
      >
        <img
          src="assets/Graphic.svg"
          class="img-fluid"
          alt="Gráfico"
          width="32"
        />
      </div>
      <a href="#" class="fw-bold fs-6 text-primary mt-2 text-decoration-none"
        >Gestão de desempenho</a
      >
    </div>

    <div class="quick-acess-selector d-flex flex-column align-items-center">
      <div
        class="quick-access-icon d-flex align-items-center justify-content-center"
      >
        <img
          src="assets/PageClip.svg"
          class="img-fluid"
          alt="Página"
          width="38"
        />
      </div>
      <a href="#" class="fw-bold fs-6 text-primary mt-2 text-decoration-none"
        >Declarar vínculo</a
      >
    </div>

    <div class="quick-acess-selector d-flex flex-column align-items-center">
      <div
        class="quick-access-icon d-flex align-items-center justify-content-center"
      >
        <img
          src="assets/ClipboardCheck.svg"
          class="img-fluid"
          alt="Prancheta"
          width="35"
        />
      </div>
      <a href="#" class="fw-bold fs-6 text-primary mt-2 text-decoration-none"
        >Relatórios e declarações</a
      >
    </div>

    <div class="quick-acess-selector d-flex flex-column align-items-center">
      <div
        class="quick-access-icon d-flex align-items-center justify-content-center"
      >
        <img src="assets/Badge.svg" class="img-fluid" alt="Crachá" width="40" />
      </div>
      <a href="#" class="fw-bold fs-6 text-primary mt-2 text-decoration-none"
        >Requisição de crachá</a
      >
    </div>

    <div class="quick-acess-selector d-flex flex-column align-items-center">
      <div
        class="quick-access-icon d-flex align-items-center justify-content-center"
      >
        <img src="assets/Siren.svg" class="img-fluid" alt="Sirene" width="40" />
      </div>
      <a href="#" class="fw-bold fs-6 text-primary mt-2 text-decoration-none"
        >Comunicar acidente de trabalho</a
      >
    </div>

    <div class="quick-acess-selector d-flex flex-column align-items-center">
      <div
        class="quick-access-icon d-flex align-items-center justify-content-center"
      >
        <img
          src="assets/Arrow.svg"
          class="img-fluid"
          alt="Seta para direita"
          width="32"
        />
      </div>
      <a href="#" class="fw-bold fs-6 text-primary mt-2 text-decoration-none"
        >Ver mais</a
      >
    </div>
  </div>
</div>
